<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!----======== CSS ======== -->
    <link rel="stylesheet" href="../static/style.css">

    <!----===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>

    <!--<title>Dashboard Sidebar Menu</title>-->
</head>

<body>
    <nav class="sidebar close ">
        <header>
            <div class="image-text">
                <span class="image">
                    <img src="../static/images/logo.png" alt="1000px">
                </span>

                <div class="text logo-text">
                    <span class="name"></span>
                    <!-- <span class="profession">Web developer</span> -->
                </div>
            </div>

            <i class='bx bx-chevron-right toggle'></i>
        </header>

        <div class="menu-bar">
            <div class="menu col-sm-6">
                <li class="nav-link">
                    <a class="nav-link active" id="account-tab" data-toggle="pill" href="#chat" role="tab"
                        aria-controls="account" aria-selected="true">

                        <i class='bx bx-message-rounded-dots'></i>
                        <span class="text nav-text">chart</span>
                    </a>
                </li>
                <!-- <li class="search-box">
                    <i class='bx bx-search icon'></i>
                    <input type="text" placeholder="Search...">
                </li> -->

                <ul class="menu-links">
                    <!-- <li class="nav-link">
                        <a href="#">

                            <i class='bx bx-message-rounded-dots'></i>
                            <span class="text nav-text">chart</span>
                        </a>
                    </li> -->
                    <li class="search-box">
                        <i class='bx bx-search icon'></i>
                        <input type="text" placeholder="Search...">
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bar-chart-alt-2 icon'></i>
                            <span class="text nav-text">manage subscription</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-bell icon'></i>
                            <span class="text nav-text">Updates&FAQ</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-pie-chart-alt icon'></i>
                            <span class="text nav-text">settings</span>
                        </a>
                    </li>

                    <!-- <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-heart icon'></i>
                            <span class="text nav-text">Likes</span>
                        </a>
                    </li>

                    <li class="nav-link">
                        <a href="#">
                            <i class='bx bx-wallet icon'></i>
                            <span class="text nav-text">Wallets</span>
                        </a>
                    </li> -->
                    <div class="card"
                        style=" background-color:whitesmoke;height: 100px;width: 100%;display: block;border-radius: 0.75rem;">
                        <!-- <img class="card-img-top" src="../static/images/avatar.jpg" alt="Card image cap"> -->
                        <div class="card-body">
                            <img class="card-img-top"
                                style="height:45px;border-top-left-radius:10%;border-top-right-radius:10%;border-bottom-right-radius:10%;border-bottom-left-radius: 10%;"
                                src="../static/images/avatar.jpg">
                            <h5 class="card-title">
                                <h6>mani kanta</h6>
                                <h6>mani1998@gmail.com</h6>
                            </h5>
                            <!-- <a href="#" class="btn btn-primary">upgrade Pro</a> -->
                            <!-- <a class="btn-stroke-dark w-full mt-2" href="/pricing">Upgraded to Pro</a> -->
                            <button type="button" class="btn btn-primary" style="width:100px;">Primary</button>
                        </div>
                    </div>
                </ul>

            </div>


            <!-- <div class="bottom-content">
                <li class="">
                    <a href="#">
                        <i class='bx bx-log-out icon'></i>
                        <span class="text nav-text">Logout</span>
                    </a>
                </li> -->

            <li class="mode">
                <div class="sun-moon">
                    <i class='bx bx-moon icon moon'></i>
                    <i class='bx bx-sun icon sun'></i>
                </div>
                <span class="mode-text text">Dark mode</span>

                <div class="toggle-switch">
                    <span class="switch"></span>
                </div>
            </li>

        </div>


    </nav>
    <section class="dashboard">
        <h1>hxd</h1>
    </section>

    <!-- <section class="home">
        <div class="text">Dashboard Sidebar</div>
    </section> -->

    <script>
        const body = document.querySelector('body'),
            sidebar = body.querySelector('nav'),
            toggle = body.querySelector(".toggle"),
            searchBtn = body.querySelector(".search-box"),
            modeSwitch = body.querySelector(".toggle-switch"),
            modeText = body.querySelector(".mode-text");


        toggle.addEventListener("click", () => {
            sidebar.classList.toggle("close");
        })

        searchBtn.addEventListener("click", () => {
            sidebar.classList.remove("close");
        })

        modeSwitch.addEventListener("click", () => {
            body.classList.toggle("dark");

            if (body.classList.contains("dark")) {
                modeText.innerText = "Light mode";
            } else {
                modeText.innerText = "Dark mode";

            }
        });
    </script>

</body>

</html>