<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/revi.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css"
        integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css'>
</head>

<body>
    <div class="container">
        <div class="d-flex">

            <div class="col-lg-6">
                <div class="card" style="width: 70rem; height: 70rem;padding: auto;">
                    <!-- <img class="card-img-top" src="..." alt="Card image cap"> -->
                    <div class="card-body">
                        <div class="d-flex">
                            <div class="col-lg-6">
                                <div class="clas">
                                    <!-- <div class="card">
                                        <div class="card-body">
                                            <div class="d-flex justify-content-between">
                                                <h3 class="mb-4">Review test and provide feedback</h3>
                                                <i class='fa fa-star-o'></i>
                                            </div>
                                        </div>
                                    </div> -->
                                    <h6>Review test and provide feedback</h6>
                                    <div class="card" style=" height:25rem;max-width: 50rem;border-radius: .75rem;">
                                        <div class="card-body">
                                            <!-- <h5 class="card-title">Special title treatment</h5>
                                            <p class="card-text">With supporting text below as a natural lead-in to
                                                additional content.</p>
                                            <a href="#" class="btn btn-primary">Go somewhere</a> -->
                                            <div class="card text-dark bg-light mb-3"
                                                style="height: 11.25rem;width: 11.25rem;border-radius: .75rem;">
                                                <div class="card-header">
                                                    <i class='fa fa-search-plus'></i>
                                                </div>
                                                <div class="card-body">
                                                    <!-- <h5 class="card-title">Light card title</h5>
                                                    <p class="card-text">Mani</p> -->
                                                </div>

                                            </div>
                                            <div class="stu">
                                                <p>Student-test.pdf</p>
                                                <p>Review this test and provide feedback on how it can be<br> improved
                                                    or
                                                    adjusted to better measure the student's<br> knowledge and
                                                    understanding
                                                    of the subject being tested.</p>
                                            </div><br>
                                            <div class="s-img">
                                                <!-- <img src="../static/images/avatar.jpg"
                                                    style="border-radius: 1rem;overflow: hidden;width: 4rem;height: 4rem;"><br> -->
                                                <div class="s-img" style="display: flex; align-items: flex-end;">
                                                    <div style="flex-grow: 1;"></div>
                                                    <div
                                                        style="border-bottom: 1px solid black; flex-shrink: 0; padding-bottom: 1rem;">
                                                        <img src="../static/images/avatar.jpg"
                                                            style="border-radius: 1rem; overflow: hidden; width: 4rem; height: 4rem;"><br><br>
                                                    </div><br>
                                                </div>
                                            </div>

                                            <!-- <div class="card w-75">
                                                <div class="card-body">
                                                    <h5 class="card-title">Card title</h5>
                                                    <p class="card-text">With supporting text below as a natural lead-in
                                                        to additional content.</p>
                                                    <a href="#" class="btn btn-primary">Button</a>
                                                </div>
                                            </div> -->
                                        </div>
                                    </div><br>
                                    <div class="card w-11.25rem;"
                                        style="padding-bottom: 3.5rem;padding: 1.25rem;border-radius: 1.25rem;height:5rem">
                                        <div class="card-body">
                                            <h5 class="card-title">
                                                <img src="../static/images/dots.png">
                                            </h5>
                                            <p class="card-text"></p>
                                        </div>
                                        <div class="icon"
                                            style="padding-top:.125rem;
                                        padding-bottom:.125rem;padding-left:.5rem;padding-right:.5rem;margin-right: .75rem;">
                                            <i class='fa fa-pause-circle-o'></i>
                                        </div>
                                    </div><br><br>
                                    <div class="card"
                                        style="height: 45rem;max-width: 50rem;border-radius: 0.75rem;background-color: azure;">
                                        <div class="card-body">
                                            <!-- <h5 class="card-title">Card title</h5>
                                            <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
                                            <p class="card-text">Some quick example text to build on the card title and
                                                make up the bulk of the card's content.</p>
                                            <a href="#" class="card-link">Card link</a>
                                            <a href="#" class="card-link">Another link</a> -->
                                            <div class="card"
                                                style="height: 23rem;max-width: 45rem;border-radius: 0.75rem;">
                                                <div class="card-body">
                                                    <img src="../static/images/svgviewer-png-output.png">
                                                    <i class='fa fa-star' style='color: #f3da35'></i>
                                                    <i class='fa fa-star' style='color: #f3da35'></i>
                                                    <i class='fa fa-star' style='color: #f3da35'></i>
                                                    <i class='fa fa-star' style='color: #f3da35'></i>
                                                    <h5 class="card-title">Very good!</h5>
                                                    <p class="card-text"></p>
                                                </div>
                                                <table class="table">
                                                    <thead>
                                                        <tr>
                                                            <th scope="col">#</th>
                                                            <th scope="col">Incorrect answer (5)</th>
                                                            <th scope="col">Correct answer</th>
                                                            <th scope="col">How</th>
                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr>
                                                            <th scope="row">28</th>
                                                            <td>which</td>
                                                            <td>whose</td>
                                                            <td>@mdo</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">42</th>
                                                            <td>getting annoyed</td>
                                                            <td>showing agreement</td>
                                                            <td>@fat</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">56</th>
                                                            <td>public</td>
                                                            <td>unknown</td>
                                                            <td>@twitter</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">60</th>
                                                            <td>Newyork</td>
                                                            <td>Sydney</td>
                                                            <td>@twitter</td>
                                                        </tr>
                                                        <tr>
                                                            <th scope="row">56</th>
                                                            <td>careless</td>
                                                            <td>reliable</td>
                                                            <td><i class="fa-regular fa-circle-play"></i></td>
                                                        </tr>
                                                    </tbody>
                                                </table>
                                                <p>Suggestion to improve your test</p><br>
                                                <h6>Read regularly:</h6>Reading is an excellent way to improve your
                                                vocabulary,grammar, and comprehension skills. Try to read a variety of
                                                materials,including books, newspapers, magazines, and online articles.

                                                <h6>Practice writing:</h6>Writing can help you improve your grammar,
                                                spelling,and sentence structure. Try to write regularly, even if it's
                                                just a short paragraph or a journal entry.

                                                <h6>Listen to English:</h6>Listening to English podcasts, audiobooks,and
                                                videos can help you improve your listening and comprehension skills. It
                                                can also help you get used to different accents and intonations.

                                                <h6>Speak with native speakers:</h6> Speaking with native speakers can
                                                help you improve your pronunciation, fluency, and confidence. You can
                                                find
                                                language exchange partners or join conversation groups online or in
                                                person.

                                                <h6>Learn grammar rules:</h6> Learning the basic grammar rules can help
                                                you write and speak more accurately. Try to focus on one rule at a time
                                                and
                                                practice using it in your writing and speaking. There are many online
                                                resources, such as grammar books and videos, that can help you learn
                                                grammar rules.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6" style="background-color: whitesmoke;border-radius: 25px;">
                                <div class="ig">
                                    <img src="../static/images/square.png">
                                    <img src="../static/images/avatar.jpg"
                                        style="height:45px;border-top-left-radius:10%;border-top-right-radius:10%;border-bottom-right-radius:10%;border-bottom-left-radius: 10%;">
                                    <button type="button" class="btn btn-dark">Share</button>
                                </div>
                                <hr>
                                <div class="cnrt">
                                    <div class="card-m" style="width: 15rem;height: 10rem;">
                                        <div class="card-body">
                                            <input type="checkbox" name="Box" value="brain">
                                            <label for="ai">Brainwave AI UI Kit</label><br>
                                            <!-- <h5 class="card-title"></h5> -->
                                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                            <h6 class="card-text">Write code (HTML, CSS and JS) for..</h6>
                                            <div class="av">
                                                <img src="../static/images/avatar-1.jpeg"
                                                    style=" height:30px; width: 30px; border-radius:50%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="ct">
                                    <div class="card" style="width: 15rem;height: 10rem;">
                                        <div class="card-body">
                                            <input type="checkbox" name="Box" value="brain">
                                            <label for="ai">Welcome page input</label><br>
                                            <p class="card-text">Write code (HTML, CSS and JS) for..</p>
                                        </div>
                                        <img class="card-img-top" src="../static/images/history-image.png"
                                            style="border-radius: .4rem;border-spacing: 5px 1rem;border-top: 1rem;"
                                            alt="Card image cap">
                                    </div>
                                </div><br><br><br><br>
                                <div class="tr">
                                    <div class="card-m" style="width: 15rem;height: 10rem;">
                                        <div class="card-body">
                                            <input type="checkbox" name="Box" value="brain">
                                            <label for="ai">Photo retouching</label><br>
                                            <!-- <h5 class="card-title"></h5> -->
                                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                            <h6 class="card-text">Write code (HTML, CSS and JS) for..</h6>
                                            <div class="av">
                                                <img src="../static/images/avatar.jpg"
                                                    style=" height:30px; width: 30px; border-radius:50%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="rt">
                                    <div class="card-m" style="width: 15rem;height: 10rem;">
                                        <div class="card-body">
                                            <input type="checkbox" name="Box" value="brain">
                                            <label for="ai">Auto generate title</label><br>
                                            <!-- <h5 class="card-title"></h5> -->
                                            <!-- <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6> -->
                                            <h6 class="card-text">Write code (HTML, CSS and JS) for..</h6>
                                            <div class="av">
                                                <img src="../static/images/avatar.jpg"
                                                    style=" height:30px; width: 30px; border-radius:50%;">
                                                <img src="../static/images/avatar-1.jpeg"
                                                    style=" height:30px; width: 30px; border-radius:50%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- <h5 class="card-title">Card title</h5>
                        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                            card's content.</p>
                        <a href="#" class="btn btn-primary">Go somewhere</a> -->
                </div>
            </div>

        </div>
        <div>

        </div>
        <div>

        </div>
    </div>
    </div>
</body>

</html>